@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(131, 194, 131);
}

.container {
    min-width: 1000px;
}

header {
    background-image: linear-gradient(to bottom, rgb(156, 227, 156), green);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

header > h1 {
    text-align: center;
    padding: 15px;
}

header > p {
    text-align: center;
    padding: 15px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    width: 75%;
    margin: auto;
}

main > h1 {
    font-family: 'android', sans-serif;
    color: green;
    padding: 15px;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 15px;
    text-indent: 20px;
    text-align: justify;
}

main > h2 {
    font-family: 'android', sans-serif;
    color: green;
    padding: 3px;
    background-image: linear-gradient(to right, rgba(140, 194, 140, 0.656), rgba(203, 229, 203, 0.04));
    margin: 15px;
}

section {
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(182, 241, 182, 0.656);
    border-radius: 15px;
}

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    background-color: rgb(113, 197, 113);
    color: white;
    border-radius: 15px 15px 0px 0px;
}

section > p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-indent: 20px;
}

section > ul {
    margin-left: 30px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: rgb(10, 77, 10);
}
