@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Bebas+Neue&family=Diplomata+SC&family=Kaushan+Script&family=Passion+One&family=Righteous&family=Sarala:wght@400;700&family=Sedan+SC&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Bebas+Neue&family=Diplomata+SC&family=Kaushan+Script&family=Passion+One&family=Righteous&family=Sarala:wght@400;700&family=Sedan+SC&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    font-size: 1em;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 4em;
    font-family: var(--fonte2);
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

section.imagem {
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
}

section.normal {
    background-color: white;
}

section#img001 {
    background-image: url('../imagens/background001.jpg');
}

section#img002 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}